#Search {
  margin: 18px;
}
#SearchForm {
  position: relative;
  z-index: 10;
}
.btn-reset {
  font-size: 18px;
  padding: 0 10px;
  border-radius: 16px;    
  position: absolute;
  right: 3px;
  height: 34px;
  top: 3px;
}