#Search {
  margin: 16px 28px;
}
#Header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
#SearchForm {
  position: relative;
  z-index: 10;
}
.btn-reset {
  font-size: 18px;
  padding: 0 10px;
  border-radius: 16px;    
  position: absolute;
  right: 3px;
  height: 34px;
  top: 3px;
}